[submodule "sinabroServer"]
	path = sinabroServer
	url = https://github.com/Sinabro-littlebylittle/sinabroServer.git
[submodule "sinabroClient"]
	path = sinabroClient
	url = https://github.com/Sinabro-littlebylittle/sinabroClient.git
